@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-clr-bee: 247, 208, 44;
  --tw-clr-curcuma: 238, 129, 48;
  --tw-clr-mind: 249, 85, 135;
  --tw-clr-lavender: 169, 143, 243;
  --tw-clr-azure: 52, 152, 219;
  --tw-clr-ice: 150, 217, 214;
  --tw-clr-grass: 0, 232, 135;
  --tw-clr-aqua: 20, 184, 166;

  --clr-bee: rgb(var(--tw-clr-bee)); /* #F7D02C */
  --clr-curcuma: rgb(var(--tw-clr-curcuma)); /* #EE8130 */
  --clr-mind: rgb(var(--tw-clr-mind)); /* #F95587 */
  --clr-lavender: rgb(var(--tw-clr-lavender)); /* #A98FF3 */
  --clr-azure: rgb(var(--tw-clr-azure)); /* #3498DB */
  --clr-ice: rgb(var(--tw-clr-ice)); /* #96D9D6 */
  --clr-grass: rgb(var(--tw-clr-grass)); /* #00e887 */
  --clr-aqua: rgb(var(--tw-clr-aqua)); /* #14b8a6 */
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }
}

@layer components {
  .layout {
    @apply mx-auto w-[85%] max-w-2xl;
  }
  .page-heading {
    @apply mb-4 text-3xl font-bold tracking-tight text-slate-900 dark:text-light md:text-5xl;
  }
  .page-description {
    @apply mb-4 text-slate-500 dark:text-gray-400 md:text-lg;
  }
  .section-heading {
    @apply mb-4 text-2xl font-bold tracking-tight text-slate-900 dark:text-light md:text-4xl;
  }
  .section-description {
    @apply mb-3 text-slate-500 dark:text-gray-400 md:text-lg;
  }
  .section-spacing {
    @apply mb-16;
  }
  .blue-card-color {
    @apply from-aqua/40 to-azure/40 hover:from-aqua hover:to-azure;
  }
  .yellow-card-color {
    @apply from-bee/40 to-curcuma/40 hover:from-bee hover:to-curcuma;
  }
  .pink-card-color {
    @apply from-mind/40 to-lavender/40 hover:from-mind hover:to-lavender;
  }
  .green-card-color {
    @apply from-aqua/40 to-grass/40 hover:from-aqua hover:to-grass;
  }
  .post-infos-container {
    @apply flex gap-4;
  }
  .post-info-box {
    @apply flex items-center gap-2 text-dark dark:text-light;
  }
}

@layer utilities {
  .animate-underline-blue,
  .animate-underline-yellow,
  .animate-underline-pink,
  .animate-underline-green {
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-size, color, background-color, border-color;
  }
  .animate-underline-blue {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(to right, var(--clr-azure), var(--clr-aqua));
  }
  .animate-underline-yellow {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(to right, var(--clr-curcuma), var(--clr-bee));
  }
  .animate-underline-pink {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(to right, var(--clr-lavender), var(--clr-mind));
  }
  .animate-underline-green {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(to right, var(--clr-grass), var(--clr-aqua));
  }
  @media (prefers-reduced-motion: reduce) {
    .animate-underline-blue,
    .animate-underline-yellow,
    .animate-underline-pink,
    .animate-underline-green {
      transition: none;
    }
  }
  .animate-underline-blue:hover,
  .animate-underline-yellow:hover,
  .animate-underline-pink:hover,
  .animate-underline-green:hover,
  .start-animate-underline {
    background-size: 100% 2px;
    background-position: 0 100%;
  }
}

[data-fade] {
  @apply translate-y-10 opacity-0 transition duration-500 ease-out;
}
.fade-in-start [data-fade] {
  @apply translate-y-0 opacity-100;
}
.fade-in-start [data-fade='1'] {
  transition-delay: 150ms;
}
.fade-in-start [data-fade='2'] {
  transition-delay: 300ms;
}
.fade-in-start [data-fade='3'] {
  transition-delay: 450ms;
}
.fade-in-start [data-fade='4'] {
  transition-delay: 600ms;
}
.fade-in-start [data-fade='5'] {
  transition-delay: 750ms;
}
